/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 1263px;
	height: 650px;
	background: url(http://dusanmilosavljevic1624.github.io/Project-Backgrounds-and-Gradients/images/watch.jpg);
	background-position: 100px -420px;
	background-repeat: no-repeat;
}

header {
	width: 1263px;
	position: relative;
	padding: 10px 0;
	text-align: center;
	background: rgba(0,0,0,0.8);
}

header nav {
	display: flex;
	}

header ul li {
	display: inline;
	margin-right: 82px;
	margin-top: 30px;
}

header ul li a {
	color: #f2f2f2;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
}

header ul li a:hover {
	opacity: .5;
}

a img {
	vertical-align: middle;
}

.banner-text {
	position: relative;
	margin-top: 200px;
	margin-left: 550px;
	text-align: center;
}

.banner-text h2 {
	font-size: 42px;
	font-weight: 200;
	line-height: 1.1429px;
	margin-top: 30px;
	font-family: arial;
}

.links {
	margin-top: 40px;
}

.links a {
	display: inline-block;
	margin-left: 20px;
	text-decoration: none;
	color: rgb(0,136,204);
	font-size: 20px;
}

.links a:hover {
	color: #333;
}

.promos {
	margin-top: 3px;
	height: 202px;
}

.promos a {
	display: inline-block;
}

.promos a img {
	width: 310px;
	height: 200px;
}

.donate {
	height: 83px;
}

.banner {
	width: 540px;
	margin: 0 auto;
	padding-top: 20px;
}

.banner div {
	display: inline-block;
}

.banner-block {
	width: 179px;
	height: 44px;
	border-right: 1px solid #ccc;
	padding-right: 20px;
	display: inline-block;
	margin: 0 auto;
}

.lower-banner-text {
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	margin-top: 15px;
	
}
.lower-banner-text a {
	text-decoration: none;
}

.lower-banner-text a:hover {
	text-decoration: underline;
}

.footer {
	width: 1263px;
	background-color: #f2f2f2;
}

.wrap {
	width: 1024px;
	margin: 0 auto;
}
.top-text {
	padding-top: 15px;
	display: block;
	width: 980px;
	height: 60px;
	border-bottom: 1px solid #d6d6d6;
}

.top-text ol li {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.33333;
}

.bottom-nav div {
	display: inline-block;
	width: 176px;
	float: left;
	margin-left: 20px;
}

.list-items div {
	display: list-item;
	width: 176px;
	list-style: none;
}

.buttom-nav li a {
	list-style: none;
}

.bottom-nav h2 {
	margin-top: 20px;
	color: #000;
	font-weight: 600;
	line-height: 1.6667;
}

.bottom-nav ul li {
	line-height: 20px;
}

.bottom-nav ul li a {
	text-decoration: none;
	color: #666;
	font-size: 12px;
}

.bottom-nav ul li a:hover {
	text-decoration: underline;
}

.main-footer {
	clear: both;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 1000px;

}

.main-footer div {
	display: inline-block;
}

.main-footer p {
	color: #666;
	font-size: 12px;
	padding-bottom: 15px;
	border-bottom: 1px solid #d6d6d6;
}

.main-footer a {
	text-decoration: none;
}

.copyright {
	padding-top: 10px;
}

small {
	font-size: 12px;
	color: #666;
}


.terms ul li {
	display: inline;
	margin-left: 20px;
}

.terms ul li a {
	font-size: 12px;
	color: #333;
}

.terms ul li a:hover {
	text-decoration: underline;
}

.policy, .termsofuse, .sales {
	border-right: 1px solid #d6d6d6;
	padding-right: 12px;
}

.country {
	margin-left: 200px;
}

.country i {
	background-image: url(http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/footer/country/flag_large.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	float: left;
}

.country a {
	text-decoration: none;
	color: #666;
	margin-left: 5px;
}